In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
d1 = pd.read_csv("train.csv")

In [ ]:
#checking the no.of rows and coloumns
d1.shape

In [ ]:
d1.isnull()

In [ ]:
d1[d1.columns[d1.isna().any()]].isna().sum()/len(d1)*100

In [ ]:
d1.head(5)

In [ ]:
d2 = [d3 for d3 in d1.columns if d1[d3].isnull().sum()>=1]

In [ ]:
for col in d2:
    d4 = d1.copy()
    d4[col] = np.where(d4[col].isnull(),1,0)
    d4.groupby(col)["SalePrice"].median().plot.bar()
    plt.title(col)
    plt.show()

In [ ]:
pd.pandas.set_option('display.max_columns',None)

In [ ]:
d2

In [ ]:
d_num = [d3 for d3 in d1.columns if d1[d3].dtype!= "O"]

In [ ]:
d1[d_num]

In [ ]:
#now seperating the years coloumn
yer = [fet for fet in d_num if "Yr" in fet or "Year" in fet or "yr" in fet or "year" in fet]

In [ ]:
yer

In [ ]:
 yer.remove["yrsold"]

In [ ]:
for col in yer:
    d4 = d1.copy()
    d4[col]=d4['YrSold']-d4[col]
    plt.scatter(d4[col],d4['SalePrice'])
    plt.title(col)
    plt.show()

In [ ]:
d1

In [ ]:
#descreet values
d5 = [d3 for d3 in d_num if len(d1[d3].unique())<25 and d3 not in yer +["id"]]

In [ ]:
d5

In [ ]:
for col in d5 :
    d1.groupby(col)["SalePrice"].median().plot.bar()
    plt.xlabel(col)
    plt.ylabel("Price")
    plt.title(col)
    plt.show()

In [ ]:
#continiuous values
cont1 = [d3 for d3 in d_num if d3 not in d5+yer+["Id"]]
cont1

In [ ]:
for col in cont1:
    d1[col].hist(bins = 30)
    plt.xlabel(col)
    plt.ylabel("price")
    plt.title(col)
    plt.show()

this tell us some features dont have gausian distribution which means we have skewed data so we need to normalize the data

In [ ]:
for col in cont1 :
    data1 = d1.copy()
    if 0 in data1[col].unique():
        pass
    else:
        data1[col] = np.log(data1[col])
        data1["SalePrice"] = np.log(data1["SalePrice"])
        plt.scatter(data1[col],data1["SalePrice"])
        plt.xlabel(col)
        plt.ylabel("price")
        plt.title(col)
        plt.show()

In [ ]:
for col in cont1 :
    plt.scatter(d1[col],d1["SalePrice"])
    plt.xlabel(col)
    plt.ylabel("price")
    plt.title(col)
    plt.show()

In [ ]:
for col in cont1 :
    data1 = d1.copy()
    if 0 in data1[col].unique():
        pass
    else:
        data1[col] = np.log(data1[col])
        data1["SalePrice"] = np.log(data1["SalePrice"])
        plt.hist(data1[col] , bins = 25)
        plt.xlabel(col)
        plt.ylabel("price")
        plt.title(col)
        plt.show()

In [ ]:
#categorical values
cat1 = [d3 for d3 in d1.columns if d1[d3].dtypes =="O"]

In [ ]:
#nunique returns the count
d1[cat1].nunique()

we need to tend to these high categorical values such as 25 , 15, 16 before doing one hot encoding for it

In [ ]:
#to get the names of those categories
for col in cat1:
    print(f"{col} unique values:", d1[col].unique() , d1[col].nunique())

In [ ]:
for col in cat1:
    d1.groupby(col)["SalePrice"].median().plot.bar()
    plt.xlabel(col)
    plt.ylabel("price")
    plt.title(col)
    plt.show()

done with the eda part

In [ ]:
d1[cat1] = d1[cat1].fillna("missing")

In [ ]:
d1[cat1].isnull().sum()

In [ ]:
d7 = [d3 for d3 in d1.columns if d1[d3].dtypes !="O"]

In [ ]:
d1[d7].isnull().sum()

In [ ]:
for col in d7 :
    med = d1[col].median()
    d1[col].fillna(med, inplace = True)

In [ ]:
d1[d7].isnull().sum()

In [ ]:
year1 = yer.copy()
year1.remove("YrSold")
for col in year1 :
    d1[col]= d1["YrSold"] - d1[col]

In [ ]:
d1[year1]

In [ ]:
d9 = [d3 for d3 in d1[d7] if 0 not in d1[d3].unique()]

In [ ]:
d10 = [d3 for d3 in d1[d9] if d3 not in ["Id"]+["MSSubClass"]+['OverallQual']+["YrSold"]+["MoSold"]+["TotRmsAbvGrd"]+["OverallQual"]+["OverallCond"]]

In [ ]:
d10

In [ ]:
for col in d10 :
    d1[col] = np.log(d1[col])

In [ ]:
for col in d10 :
    plt.hist(d1[col],bins=30)
    plt.xlabel(col)
    plt.ylabel("price")
    plt.title(col)
    plt.show()

done with skewness

In [ ]:
d1.head()

In [ ]:
d1[cat1]

In [ ]:
#now we do the scaling of these features 
scaled = [i for i in d1.columns if i not in ["Id","SalePrice"]]

In [ ]:
d1[scaled]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scale = MinMaxScaler(copy = True)
scale.fit(d1[scaled])

In [ ]:
scale.transform(d1[scaled])

In [ ]:
added = pd.concat([d1[["Id","SalePrice"]].reset_index(drop=True),
                   pd.DataFrame(scale.transform(d1[scaled]) , columns = scaled)],axis=1)

In [ ]:
#this is my final data frame
added.head()

In [ ]:
added.to_csv("X_train.csv", index  = False)

In [ ]:
#Now we do feature selection
#used lasso because it helps in feature selection by telling us true or false use get_support()
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [ ]:
dataset1 = pd.read_csv("X_train.csv")

In [ ]:
y_train = dataset1[["SalePrice"]]
X_train = dataset1.drop(["Id","SalePrice"], axis= 1)

In [ ]:
feat_sel = SelectFromModel(Lasso(alpha = 0.005 , random_state = 0 ))
feat_sel.fit(X_train , y_train)

In [ ]:
feat_sel.get_support()

In [ ]:
selcted = X_train.columns[(feat_sel.get_support())]
print(len(selcted))

In [ ]:
# so this is our last trained now we can use regression
X_train = X_train[selcted]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

preds = model.predict(X_val)
print("MAE:", mean_absolute_error(y_val, preds))
print("R2 Score:", r2_score(y_val, preds))